body {
    background-color: #FFF8FB;
}

.headerrow,
#messagePane {
    background-color: #b7b6ff;
}

.join_room_response,
.left_room_response {
    background-color: lightgray;
    margin: 1px 1px 1px 10px;

}

.chat_message {
    font-size: 125%;
    margin: 1px;
    color: black;
}

table#game_board {
    border: 4px solid black;
    margin: 0px;
    padding: 0px;
}

table#game_board td {
    background-color: #F4EFF7;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

td.hovered_over:hover {
    background-image: url('/assets/images/hover.gif');
}